{% extends 'portfolio/base.html' %} {% block content %} {% load static %}
<br />
<br />
<div class="container">
  <h1 class="text-center">About</h1>
</div>
<br />
<br />
<div class="container">
  <p class="text-justify text-center">Hi there, I'm Anthony.</p>
  <p class="text-justify text-center">
    I'm an IT professional and Web Developer based out of San Diego. I'm also a
    full time pupil of subjects ranging from programming languages, shell
    scripting, dev ops, and various web frameworks. I'm open to collaborating on
    any sort of project (especially if requires me learning a new tool for my
    tool belt) and any oppurtunites involving front end, back end, or full stack
    Web Development.
  </p>
</div>
<br />
<br />
<br />
<br />
<div class="container">
  <h2>Things I can do:</h2>
  <br>
  <br>
  <div class="card-group">
    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Languages</h5>
        <p class="card-text">
          <ul>
              <li>JavaScript ES6</li>
              <li>HTML5</li>
              <li>Python</li>
              <li>Ruby</li>
              <li>CSS</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Frameworks/Libraries</h5>
        <p class="card-text">
            <ul>
                <li>Django</li>
                <li>React</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
        </p>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Tools</h5>
        <p class="card-text">
            <ul>
                <li>Vim</li>
                <li>Visual Studio Code</li>
                <li>Git</li>
                <li>Linux</li>
            </ul>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
